<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pearl Library</title>
    <!-- Rander the all element Normally -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- The Css file  -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- the font text work  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,500;0,700;1,700&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script>
        $(function () {
            $("#header").load("header.html");
            $("#sidebar").load("sidebar.html");

        });
    </script>


</head>

<body>
    <div id="header"></div>

    <div id="sidebar"></div>
    <section>
        <div class="container">


            <section>

                <br>
                <br>
                <br>
                <br>
                <div style="float: right; ">
                    <nav class="navbar navbar-light bg-light">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search By name"
                                aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                                id="searchButon">Search</button>
                            <br>
                            <nav class="navbar navbar-light bg-light">
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Delete By Id"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                                        id="deleteButton">Delete</button>
                                </form>
                            </nav>
                </div>

                <h2>List Of Books </h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Rating</th>
                            <th>Number of Copies</th>
                            <th>Availability</th>
                        </tr>
                    </thead>
                    <tbody id="tableContent">


                    </tbody>



                </table>
        </div>
    </section>

</body>
<script>
    var deleteButton = document.getElementById('deleteButton');
    deleteButton.addEventListener("click", deleteBook);

    function deleteBook() {
        var bookId = document.getElementById('bookId').value
        var api = '' + bookId + '/'

        var tableContent = document.getElementById('tableContent')

        fetch(api, {
            method: 'DELETE'
        }).then(function (response) {
            alert("Book deleted")
        })
    }
    var searchButon = document.getElementById('searchButon');
    searchButon.addEventListener("click", searchBook);

    function searchBook() {
        var bookId = document.getElementById('bookId').value
        var api = '' + bookId + '/'

        var tableContent = document.getElementById('tableContent')

        fetch(api, {
            method: 'GET'
        }).then(function (response) {

        })
    }



</script>

</html>