:root{
  --main-color : #1c9287;;
  
}




.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  /* Global rules  */

  /* Header  */


  header{
      width: 100%;
      padding: 20px;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0%;
    margin-bottom: 170px;
  }

  header .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  header .logo{
      width: 60px;

  }
 
  header .container h1 {
    font-size: large;
    font-size: 30px;
    font-style: normal;
    color: #eff0f1;
    font-weight: 900;
    
   }
 header .container  em {
    font-style: normal;
    color: var(--main-color);
    font-weight: 900;
  }
  header .links{
    position: relative;
    
}

  header .links .icons{
  display: flex;
  width: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
  }

  header .links .icons span{

    background-color: rgb(255, 251, 251);
    margin-bottom:  5px;
    height: 3px;

  }

  header .links .icons span:first-child{
      width: 100%;

  }
  header .links .icons span:nth-child(2){
    width: 60%;
    transition: 0.3s;
  }
  header .links .icons span:last-child{
    width: 100%;
  }

  header .links:hover .icons span:nth-child(2)
{
    width: 100%;
}

  header .links ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: rgb(209, 205, 205);
    min-width: 200px;
    position:absolute;
    right: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }
/*   
  header .links:hover ul{
      display: block;
  } */
  header .links .showdrop    {
    display: block;
}
  header .links ul::before{
      content: "";
      border-width: 10px ;
      border-style:  solid;
      border-color:  transparent transparent  rgb(209, 205, 205) transparent ;
      position: absolute;
      right: 0px;
      top: -20px;
    
  }
  header .links ul li a{
      text-decoration: none;
      color: black;
      font-family:sans-serif;
      padding: 15px;
      display: block;
      transition: .3s;
      font-size:larger;

  }
  header .links ul li a:hover{
      padding-left:25px ;
  }

  header .links ul li:not(:last-child) a{
      border-bottom: rgb(184, 175, 175);
      border-bottom-width:1px ;
      border-bottom-style:solid ;
      margin-bottom: 5px;
  }

.linkbar{
  justify-content: space-between;
  text-align: justify;
  flex-wrap: nowrap;
  position: relative;
}
.linkbar ul{
  display: flex;
  list-style: none;

}

.linkbar ul li {
  text-decoration: none;
  padding-right: 20px;
  font-family:sans-serif;
  display: block;
  transition: .3s;
  font-size:larger;
  margin-left: 20px;
 

} 
.linkbar ul li a{
  color: white;
}
header .linkbar ul li a:hover{
  color: #1c9287 ;
}

.fristSection{
  top: 0%;
  max-width: 100%;
  min-height: 500px;
  margin-top:80px ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}
.fristSection:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 68, 77, 0.8);
}
a {
  text-decoration: none !important;
}

.fristSection .caption {
  position:absolute;
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.fristSection .caption h6 {
  
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.5px;
  margin: 0px;
}

.fristSection .caption h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;

}



.fristSection .caption h2 em {
  font-style: normal;
  color: var(--main-color);
  font-weight: 900;

}
.secondSection .caption h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 60px;
  text-align:center;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  max-width: 100%;

}
@media (max-width: 768px) {
  .secondSection .caption h2 {
    font-size: 50px;
  }
}
/* Medium */
@media (max-width: 600px) {
  .secondSection .caption h2 {
    font-size: 40px;
  }
}

.secondSection .caption h2 em {
  font-style: normal;
  color: var(--main-color);
  font-weight: 900;
}

.buttonJ a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
  
}
.buttonJ a:hover {
  background-color: var(--main-color);
  color: #fff;
  font-weight: 420;
  
}

.fristSection .caption .sectionRead h2{
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 50px;
  max-width: 100%;
}
.fristSection .caption .sectionRead p{
  color: #fff;
max-width: 100%;
word-wrap:break-word;
}
@media (max-width: 768px) {
  .fristSection .caption .sectionRead h2 {
    font-size: 50px;
  }
}
/* Medium */
@media (max-width: 600px) {
  .fristSection .caption .sectionRead h2 {
    font-size: 40px;
  }
}
th a {
  color: black;
}


/* userlogin */
.contact-form{
  max-width: 500px;
 margin: 100px auto;
 /* margin-top: 400px; */

}
input ,textarea{
  margin-bottom: 5px;
}
.contact-form input:not([type="submit"]) +  i {
  height: 0;
  float: left;
  position: relative;
  top: -31px;
  left: 8px;
  color: #8a8686;
}

.contact-form input{
  padding-left: 26px;
}
.sendi{
 
  position: relative;
  right: 140px;
  color: 3def;
  color: #fff1f1;
}
 .btn-success a {
  color: #eff0f1;
}

.signButton{
  position: absolute;
  right: 450px;
  bottom: 325px;
}

.registerSelect{
  width: 100px;
  height: 40px;
  font-size: blod;
  
}


/* nav */

.sidbarSect{
position: fixed;
top: 130px;
left: 22px;
}
.sidenav {
  margin-top:82px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #1c9287;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  /* margin-left: 50px; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


