{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pearl Library</title>
    <!-- Rander the all element Normally -->
    <link rel="stylesheet" href="{% static '/css/all.css' %}">
    <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <!-- The Css file  -->
    <link rel="stylesheet" href="{% static '/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!-- the font text work  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,500;0,700;1,700&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script>
        $(function () {
            $("#header").load("{% static '/banners/user/header.html' %}");
            $("#sidebar").load("{% static '/banners/user/sidebar.html' %}");

        });
    </script>

<script type="module" src="{% static '/scripts/user/feedback.js' %}" defer></script>


</head>

<body>
    <div id="header"></div>

    
    <div id="sidebar"></div>
    <div style="height: 50px;"></div>
    <section>
        <div class="container">


            <section>

                <br>
                <br>
                <br>
                <br>
                <form action="">
                    <textarea name="" id="in_feedback" cols="30" rows="5" class="form-control"></textarea>
                    <nav class="navbar navbar-light bg-light">

                        <button type="button" class="btn btn-success " id="addfeedback"> Add Feedback</button>
                </form>
                </nav>

                </form>
                <h2>FEEDBACK </h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>


                            <th id="id">Name</th>
                            <th id="feedback">Comments</th>



                        </tr>
                    </thead>


                    <tbody id="tableContent">



                    </tbody>



                </table>
        </div>
    </section>
    </div>
    </div>
</body>

</html>